.grid {
  width: 100vmin;
  height: 100vmin;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.tile {
  height: 1vmin;
  width: 1vmin;
}

.tile-current {
  color: red;
  height: 0.1vmin;
  width: 0.1vmin;
  border: 0.4vmin solid lime;
}

.tile-win {
  height: 0.8vmin;
  width: 0.8vmin;
  border: 0.1vmin solid red;
}

.icon {
  height: 100%;
  width: 100%;
}
